@font-face {
  font-family: 'AG';
  src: url('/static/fonts/AG-M.eot');
  src: url('/static/fonts/AG-M.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AG-M.woff2') format('woff2'),
       url('/static/fonts/AG-M.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AG';
  src: url('/static/fonts/AG-MI.eot');
  src: url('/static/fonts/AG-MI.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AG-MI.woff2') format('woff2'),
       url('/static/fonts/AG-MI.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AG';
  src: url('/static/fonts/AG-R.eot');
  src: url('/static/fonts/AG-R.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AG-R.woff2') format('woff2'),
       url('/static/fonts/AG-R.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AG';
  src: url('/static/fonts/AG-RI.eot');
  src: url('/static/fonts/AG-RI.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AG-RI.woff2') format('woff2'),
       url('/static/fonts/AG-RI.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AT';
  src: url('/static/fonts/AT-M.eot');
  src: url('/static/fonts/AT-M.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AT-M.woff2') format('woff2'),
       url('/static/fonts/AT-M.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AT';
  src: url('/static/fonts/AT-R.eot');
  src: url('/static/fonts/AT-R.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AT-R.woff2') format('woff2'),
       url('/static/fonts/AT-R.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 400;
	font-style: normal;
	src: url('/static/fonts/iosevka-regular.woff2') format('woff2'),
       url('/static/fonts/iosevka-regular.woff') format('woff'),
       url('/static/fonts/iosevka-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 400;
	font-style: italic;
	src: url('/static/fonts/iosevka-italic.woff2') format('woff2'),
       url('/static/fonts/iosevka-italic.woff') format('woff'),
       url('/static/fonts/iosevka-italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 700;
	font-style: normal;
	src: url('/static/fonts/iosevka-bold.woff2') format('woff2'),
       url('/static/fonts/iosevka-bold.woff') format('woff'),
       url('/static/fonts/iosevka-bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Web';
	font-weight: 700;
	font-style: italic;
	src: url('/static/fonts/iosevka-bolditalic.woff2') format('woff2'),
       url('/static/fonts/iosevka-bolditalic.woff') format('woff'),
       url('/static/fonts/iosevka-bolditalic.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'AG', sans-serif;
  font-size: 14px;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  color: black;
  background-color: white;
}

h1 {
  font-size: 1.6rem;
}

h2, h3, h4, h5, h6 {
  font-size: 1rem;
  display: block;
  margin-top: 2rem;
}

hr {
  margin-top: 2rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid black;
}

pre {
  counter-reset: line;
  overflow-x: scroll;
}

pre code {
  counter-increment: line;
  display: block;
}
pre code:before {
  margin-right: 0.5rem;
  min-width: 18px;
  display: inline-block;
  text-align: left;
  content: counter(line);
}
code, pre {
  font-family: 'Iosevka Web', monospace;
}

code {
  line-height: 1.4;
}

p code {
  white-space: nowrap;
}

a {
  color: black;
}

a.button {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

a.button:hover {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin: 1rem 0;
}

ul li h3 {
  margin: 0;
}

nav > ul {
  margin-left: 0.15rem;
}

footer {
  padding: 3rem 0;
}

form {
  margin-bottom: 1rem;
}

input, textarea {
  font-size: 14px;
  padding: 0.5rem;
  border: 1px solid black;
  margin: 1rem 0;
  display: block;
  min-width: 100%;
  max-width: 100%;
}

textarea {
  display: block;
  font-family: 'Iosevka Web', monospace;
  min-height: 100px;
}

a.hidden-link {
  padding: 0;
  cursor: text;
  text-decoration: none;
}

a.post-link {
  padding: 0;
  width: 100%;
  display: block;
  text-decoration: none;
}

a.post-link:hover {
  background-color: transparent;
  color: black;
}

#title {
  font-style: italic;
  font-size: 1.6rem;
}

body > .container:first-child {
  padding-top: 3rem;
  padding-bottom: 12rem;
}

.content {
  margin-top: 6.9rem;
}

.content p {
  line-height: 1.6;
}

#footer-container {
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0px;
  position: absolute;
}

#view-source {
  float: right;
  font-family: 'Iosevka Web', monospace;
  margin-top: -0.4rem;
}

#monero {
  font-family: 'Iosevka Web', monospace;
  font-size: 0.8rem;
}

#monero code {
  overflow-wrap: break-word;
  white-space: normal;
}

#monero a {
  font-family: 'AG', sans-serif;
  font-weight: bold;
}

span.inset {
  display: none;
}

li:hover span.inset {
  display: inline;
}

.post-list-date {
  text-alignt: right;
  font-family: 'Iosevka Web', monospace;
  font-size: 0.9rem;
}

.post-date {
  font-family: 'Iosevka Web', monospace;
  font-size: 0.9rem;
}

.toggle {
  cursor: pointer;
  user-select: none;
  display: block;
}

.hidden {
  display: none;
}


@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  body > .container:first-child {
    padding-top: 1rem;
    padding-bottom: 10rem;
  }

  .content {
    margin-top: 2rem;
  }

  footer {
    padding: 2rem 0 ;
  }
}

@media (max-width: 576px) {
  ul li {
    height: auto;
  }
  .post-list-date {
    text-align: left
  }
}
