@font-face {
  font-family: 'AG';
  src: url('/static/fonts/AG-M.eot');
  src: url('/static/fonts/AG-M.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AG-M.woff2') format('woff2'),
       url('/static/fonts/AG-M.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AG';
  src: url('/static/fonts/AG-MI.eot');
  src: url('/static/fonts/AG-MI.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AG-MI.woff2') format('woff2'),
       url('/static/fonts/AG-MI.woff') format('woff');
  font-weight:  700;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AG';
  src: url('/static/fonts/AG-R.eot');
  src: url('/static/fonts/AG-R.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AG-R.woff2') format('woff2'),
       url('/static/fonts/AG-R.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AG';
  src: url('/static/fonts/AG-RI.eot');
  src: url('/static/fonts/AG-RI.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AG-RI.woff2') format('woff2'),
       url('/static/fonts/AG-RI.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

@font-face {
  font-family: 'AT';
  src: url('/static/fonts/AT-M.eot');
  src: url('/static/fonts/AT-M.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AT-M.woff2') format('woff2'),
       url('/static/fonts/AT-M.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'AT';
  src: url('/static/fonts/AT-R.eot');
  src: url('/static/fonts/AT-R.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/AT-R.woff2') format('woff2'),
       url('/static/fonts/AT-R.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'AG', sans-serif;
  font-size: 14px;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 1.6rem;
}

h2, h3, h4, h5, h6 {
  font-size: 1rem;
  display: inline;
}

code, pre {
  font-family: 'AT', monospace;
}

code {
  line-height: 1.4;
}

a {
  color: black;
}

a.button {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

a.button:hover {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin: 1rem 0;
  height: 1.3rem;
}

nav > ul {
  margin-left: 0.15rem;
}

footer {
  padding: 3rem 0;
}

a.post-link {
  padding: 0;
  width: 100%;
  display: block;
  text-decoration: none;
}

a.post-link:hover {
  background-color: transparent;
  color: black;
}

#title {
  font-style: italic;
  font-size: 1.6rem;
}

body > .container:first-child {
  padding-top: 3rem;
  padding-bottom: 12rem;
}

.content {
  margin-top: 6.9rem;
}

.content p {
  line-height: 1.4;
}

#footer-container {
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0px;
  position: absolute;
}

#view-source {
  float: right;
  font-family: 'AT', monospace;
  margin-top: -0.25rem;
}

span.inset {
  display: none;
}

li:hover span.inset {
  display: inline;
}

.post-list-date {
  text-alignt: right;
  font-family: 'AT', monospace;
  font-size: 0.8rem;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  body > .container:first-child {
    padding-top: 1rem;
    padding-bottom: 10rem;
  }

  .content {
    margin-top: 2rem;
  }

  footer {
    padding: 2rem 0 ;
  }
}

@media (max-width: 576px) {
  ul li {
    height: auto;
  }
  .post-list-date {
    text-align: left
  }
}
